#sparkles>path {
    animation: sparklyBits 1000ms infinite;
    position: absolute;
}

#message {
   
    text-align: center;
    font-family: 'Changa', cursive;
}

@for $i from 1 through 29 {
    #sparkles>path:nth-child(#{$i}) {
        animation-delay: (35ms * $i);
    }
}

@keyframes sparklyBits {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#loadingBody {
    align-items: center  !important;
    background-color: #FAFAFA;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}